target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Local env / secrets
.env
*.pem

# Local file storage (uploaded documents)
var/

# IDEs
.idea
*.iws
*.iml
*.ipr
.vscode/
.classpath
.factorypath
.project
.settings

# OS
.DS_Store

# Not part of the project
springboot-template/
